<div [formGroup]="signInForm" class="container">
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <label>
      <input matInput formControlName="fname" placeholder="Ex: Quentin" required>
    </label>
    <mat-error>You must provide a first name</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <label>
      <input matInput formControlName="name" placeholder="Ex: Roussel" required>
    </label>
    <mat-error>You must provide a name</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Pseudo</mat-label>
    <label>
      <input matInput formControlName="pseudo" placeholder="Ex: Trauck" required>
    </label>
    <mat-error>You must provide a pseudo</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter a password</mat-label>
    <label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
    </label>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>You must provide a password</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Confirm the password</mat-label>
    <label>
      <input matInput formControlName="confirmPassword" [type]="hide2 ? 'password' : 'text'" required>
    </label>
    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
      <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>You must confirm the password</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary">Sign up</button>
</div>
