<div [formGroup]="signInForm" class="container">
  <mat-form-field appearance="outline">
    <mat-label>Pseudo</mat-label>
    <label>
      <input matInput formControlName="pseudo" placeholder="Ex: Trauck" required>
    </label>
    <mat-error>You must provide a pseudo</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
    </label>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>You must provide a password</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary">Sign in</button>
</div>
