<div class="container">
 <mat-card class="card">
   <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Sign in">
      <mat-card>
        <label>
        <app-view-sign-in></app-view-sign-in>
        </label>
      </mat-card>
    </mat-tab>
    <mat-tab label="Sign up">
      <app-view-sign-up></app-view-sign-up>
    </mat-tab>
   </mat-tab-group>
 </mat-card>
</div>



